:root {
    --bg-light: radial-gradient(circle, rgba(228, 227, 227, 1) 42%, rgba(145, 142, 139, 1) 100%);
    background: var(--bg-light);
}

body {
    display: block;
    min-height: 98vh;
}

.tituloContainer {
    isolation: isolate;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nomeTitulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7vw;
    font-weight: 800;
    color: black;
    z-index: 2;
    margin-block: 3vw;
    position: relative;
    overflow: hidden;
}

.imgTitulo {
    position: relative;
    top: -34vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}